* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #f2f4f5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  padding: 0 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #ffffff;
  padding: 10px 20px;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__link-img {
  width: 45px;
  height: auto;
}

.header__link-title {
  font-size: 1.2em;
  font-weight: 500;
}

/* main */

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.search__input {
  width: 80%;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  box-shadow: 0px 2px 2px rgb(219, 219, 219);
}

.search__input:focus {
  outline: 1px solid #1763a1;
}

.search__btn {
  border-radius: 999px;
  padding: 10px;
  border: 1px solid #1578d5;
  background-color: #1763a1;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
}

.search__btn svg {
  width: 100%;
  height: 100%;
  color: #fff;
}

.search__btn:focus {
  background-color: #fff;
}

.search__btn:focus svg {
  color: #1578d5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.main__title {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

.file__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgb(224, 224, 224);
}

.file__name {
  font-size: 1.2em;
}

.file__btn-container {
  display: flex;
  gap: 10px;
}

.file__btn {
  border: 2px solid rgb(165, 165, 165);
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.file__btn svg {
  width: 20px;
  height: 100%;
  color: #000;
}

.file__btn:focus.file__btn svg {
  color: #1578d5;
}

.nav__desktop {
  display: none;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #1763a1;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.nav__link svg {
  width: 25px;
  height: 100%;
}

/* footer */

.footer {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px 0;
  background-color: #1763a1;
  color: #fff;
}

.footer__container {
  gap: 20px;
}

.footer__info {
  gap: 20px;
}

.footer__info a {
  color: #ffffff;
}

.footer__title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.footer__copy {
  gap: 20px;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .header {
    height: 8vh;
    display: flex;
    align-items: center;
  }

  .main {
    margin-top: 50px;
  }

  .search {
    height: 60px;
    gap: 20px;
  }

  .search__btn {
    width: 60px;
    height: 60px;
  }

  .main__title {
    font-size: 2em;
  }

  .file__section {
    padding: 40px;
    font-size: 1.4em;
  }

  .file__btn-container {
    gap: 25px;
  }

  .file__btn {
    height: 60px;
    width: 60px;
    font-size: 1em;
  }

  .file__btn svg {
    width: 100%;
  }

  .footer {
    font-size: 30px;
    margin-bottom: 120px;
  }

  .footer__title {
    font-size: 1.2em;
  }

  .nav {
    height: 120px;
  }

  .nav__link {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0 auto;
  }

  .header__flex,
  .main,
  .footer__container {
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
  }

  .header {
    height: 60px;
  }

  .header__flex {
    display: flex;
    justify-content: space-between;
  }

  .header__link-title,
  .nav__desktop a {
    transition: color 0.3s ease;
  }

  .header__link-title:hover,
  .nav__desktop a:hover {
    color: #1578d5;
  }

  .nav {
    display: none;
  }

  .nav__desktop {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .main {
    margin-top: 50px;
    gap: 30px;
  }

  .search {
    margin-top: 50px;
  }

  .search__input {
    width: 60%;
    font-size: 1em;
    height: 40px;
  }

  .search__btn {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .search__btn:hover {
    opacity: 0.9;
  }

  .main__title {
    font-size: 2em;
    margin-top: 0;
  }

  .file__section {
    padding: 20px 40px;
    font-size: 20px;
  }

  .file__btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .file__btn:hover {
    opacity: 0.8;
  }

  .footer {
    font-size: 16px;
    margin-bottom: 0;
  }
}
